.dashboard {
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dash-container {
    border: 1px solid white;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.sidebar {
    flex: 1;
    border-right: 1px solid #3e3c61;
    background-color: #3e3c61;

    .bot {
        border-bottom: 1px solid gray;
    }

    .userChat {
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
        cursor: pointer;

        &:hover {
            background-color: #2f2d52;
        }

        p {
            font-size: 10px;
        }

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #2f2d52;
    height: 50px;
    padding: 10px;
    justify-content: space-between;
    color: #ddddf7;

    .logo {
        font-weight: bold;
    }

    .user {
        display: flex;
        gap: 10px;

        img {
            background-color: #ddddf7;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            object-fit: cover;
        }

        button {
            background-color: #5d5b8d;
            color: #ddddf7;
            font-size: 15px;
            border: none;
            cursor: pointer;
        }
    }
}

.chat {
    flex: 2;

    .chatInfo {
        height: 50px;
        background-color: #5d5b8d;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        color: lightgray;
    }
}

.preview {
    display: flex;
    margin-bottom: 30px;
}

.messages {
    background-color: #ddddf7;
    padding: 10px;
    height: calc(100% - 160px);
    overflow: hidden;

    .message {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
        overflow: hidden;

        .messageInfo {
            display: flex;
            flex-direction: column;
            color: gray;
            font-weight: 300;

            img {
                margin-top: 10px;
                margin-left: 0px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
            }

            span {
                font-size: 15px;
                margin-left: -10px;
                margin-top: 5px;
            }
        }

        .messageContent {
            max-width: 80%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            img {
                width: 50%;
            }
            .videoicon {
                height: 7px;
            }

            .audiowrapper {
                margin-top: 15px;
                background-color: #8da4f1;
                padding: 10px 20px;
                color: white;
                border-radius: 0px 10px 10px 10px;
                max-width: max-content;
            }
        }

        &.owner {
            flex-direction: row-reverse;

            .message {
                align-items: flex-end;

                .emptyBox {
                    background-color: #8da4f1;
                    color: white;
                    border-radius: 10px 0px 10px 10px;
                }
            }
        }
    }
}

.input {
    height: 50px;
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    .left-buttons {
        align-items: flex-start;
    }

    .right-buttons {
        align-items: flex-end;
    }

    .right-buttons button {
        margin-left: 120px;
        background-color: #8da4f1;
        color: white;
        border: none;
        font-size: 15px;
        padding: 5px 20px;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
    }

    .left-buttons button {
        margin-right: 80px;
        background-color: #8da4f1;
        color: white;
        border: none;
        font-size: 15px;
        padding: 5px 20px;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
    }

    .recordButton {
        font-size: 15px;
        padding: 10px;
        border-radius: 50%;
        margin-right: 30px;
        cursor: pointer;
    }

    .uploadButton {
        font-size: 15px;
        padding: 10px;
        border-radius: 50%;
        margin-right: 30px;
        cursor: pointer;
    }

    h5 {
        margin-right: 30px;
        font-size: 15px;
    }

    .send {
        display: flex;
        align-items: center;
        gap: 70px;

        button {
            border: none;
            padding: 10px 15px;
            background-color: #8da4f1;
            color: white;
        }
    }
}
